/*=====================================
---------------------------------------
        Author: Heitor Giusti
---------------------------------------
=====================================*/


/*-------------------------------------
GENERIC STYLES
-------------------------------------*/
html {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

/*-------------------------------------
NAV STYLES
-------------------------------------*/
.menu-text {
    height: 100%;
    width: 100%;
    position: static;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-text p {
    font-size: 45px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(255, 3, 3);
}

.wrap {
    height: 100%;
    width: 100%;
    position: static;
    text-align: center;
    padding-bottom: 50px;
}

.menu-container {
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


/*-------------------------------------
HOME STYLES
-------------------------------------*/
#home {
    padding-top: 150px;
}

.home-box {
    background: url(../images/homebackground.jpg) no-repeat 100% 100%;
    background-attachment:unset;
    width: 100%;
    background-position:center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.504);
    margin: auto;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    text-shadow: 4px 4px 4px #000;

}

#home h3 {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#home p {
    text-align: center;
    color: #fff;
}

/*-------------------------------------
GALLERY STYLES
-------------------------------------*/
#images h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000;
    color: white;
}

.gallery-box {
    background: rgba(0, 0, 0, 0.355);
    width: 100%;
    background-position: center;
    height: 350px;
}

/*-------------------------------------
VIDEO STYLES
-------------------------------------*/
.video-box {
    background: rgba(0, 0, 0, 0.355);
    width: 100%;
    background-position: center;
}

#videos {
    text-align: center;
    padding-top: 200px;
}

.video-text h1 {
    color: #fff;
}

.video-text p {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

/*-------------------------------------
CONTACT STYLES
-------------------------------------*/
.contactus {
    padding-top: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.contactus h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000;
}

.contactus p {
    font-size: 20px;
    margin: 15px 0;
    color: white;
    text-shadow: 4px 4px 4px #000;
}

.contactus input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.contactus button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.contactus button:hover {
    color: red;
}

/*-------------------------------------
FOOTER STYLES
-------------------------------------*/
#footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 50px 20px 50px;
    text-align: center;
}













